body {
    background: linear-gradient(135deg, rgb(255, 135, 126) 0%, rgb(156, 255, 151) 20%,  rgb(237, 178, 77) 40%,  rgb(255, 135, 126) 60%,  rgb(156, 255, 151) 80%,  rgb(237, 178, 77) 100%);
    min-height: 100vh;
    overscroll-behavior: none;
}

@media (prefers-reduced-motion: no-preference) {
    .slideinleft {
        position: relative;
        animation-name: slide-in-left;
        animation-duration: 0.5s;
    }
}

@keyframes slide-in-left {
    0% { left: -90%;}
    100% { left: 0%; }
}

.slideinright {
    position: relative;
    animation-name: slide-in-right;
    animation-duration: 0.6s;
}

@keyframes slide-in-right {
    0% { right: -90%; }
    100% { right: 0%; }
}